* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body, p {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: Proxima Nova;
  src: local(Proxima Nova), url("../font/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}
@font-face {
  font-family: Proxima Nova;
  src: local(Proxima Nova), url("../font/ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-display: auto;
  font-style: normal;
}
@font-face {
  font-family: Proxima Nova;
  src: local(Proxima Nova), url("../font/ProximaNova-Extrabld.woff") format("woff");
  font-weight: 800;
  font-display: auto;
  font-style: normal;
}
body {
  padding-bottom: 60px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #1C1D1F;
  background-color: #EDF5FF;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 60px;
}

.header {
  background-color: #fff;
}
.header__content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 84px;
  padding: 20px 0;
  gap: 8px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}
.logo-wrapper__logo-icon {
  margin-right: 10px;
}

.logo-icon {
  width: 41px;
  height: 33px;
}
.logo-icon img {
  width: 100%;
  height: auto;
}

.logo-text {
  width: 79px;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #006CFE;
  word-wrap: break-word;
}

.user-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user-wrapper__user-text {
  margin-right: 8px;
}

.user-text {
  display: flex;
  flex-direction: column;
  text-align: right;
  line-height: 17px;
}

.user-name {
  font-weight: 700;
  color: #006CFE;
}

.user-role {
  color: #8D9FB7;
}

.user-photo {
  width: 44px;
  height: 44px;
}
.user-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-title {
  margin-top: 48px;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
}

.search-wrapper {
  position: relative;
  margin-bottom: 24px;
}
.search-wrapper__glyphicon {
  position: absolute;
  left: 16px;
  top: calc(50% - 7.5px);
}
.search-wrapper__close-search {
  position: absolute;
  right: 16px;
  top: calc(50% - 10px);
}

.glyphicon {
  width: 14px;
  height: 15px;
  pointer-events: none;
}

.close-search {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.search-input {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  height: 52px;
  padding: 0 0 0 38px;
  font-size: 16px;
  line-height: 19;
  color: #1C1D1F;
  border: 1px solid #D5E7FF;
  border-radius: 4px;
  outline: none;
  transition: all 0.3s ease;
}
.search-input::placeholder {
  font-size: 16px;
  line-height: 19;
  color: #8D9FB7;
}
.search-input:hover {
  border-color: #80B6FF;
}
.search-input:focus {
  border-color: #006CFE;
}

.sheet {
  position: relative;
  min-height: 150px;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #D5E7FF transparent;
}
.sheet::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
.sheet::-webkit-scrollbar-track {
  background: transparent;
}
.sheet::-webkit-scrollbar-thumb {
  background-color: #D5E7FF;
  border-radius: 6px;
  border: none;
}
.sheet::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  border-color: #80B6FF;
}
.sheet__sheet-header {
  margin-bottom: 10px;
}
.sheet__sheet-content {
  margin-bottom: 4px;
}
.sheet-row {
  display: grid;
  grid-template-columns: minmax(276px, 1fr) 185px 150px 164px 175px 148px 98px;
}
.sheet-row > div {
  padding: 0 20px;
}
.sheet-content {
  line-height: 64px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.sheet-content__media-caption {
  display: none;
}
.sheet-content:hover {
  border-color: #D5E7FF;
}
.sheet-content:hover > div {
  background: transparent;
  border-top: 1px solid #D5E7FF;
  border-bottom: 1px solid #D5E7FF;
}
.sheet-content:hover > div:nth-child(1), .sheet-content:hover > div:nth-child(2) {
  border-left: 1px solid #D5E7FF;
}
.sheet-content > div {
  background: #fff;
  border: 1px solid #EDF5FF;
  border-right-color: #D5E7FF;
}
.sheet-content > div:nth-child(1), .sheet-content > div:nth-child(2) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.sheet-content > div:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sheet-content > div:last-child svg {
  height: 40px;
  width: 40px;
}
.sheet-content--score {
  font-weight: 700;
}
.sheet-content--green {
  color: #01AA88;
}
.sheet-content--orange {
  color: #FFA200;
}
.sheet-content--red {
  color: #FF0000;
}
.sheet-content__progress-bar svg {
  transform: rotate(-90deg);
}
.sheet-content__progress-bar svg circle:first-child {
  stroke: #D5E7FF;
}
.sheet-content__progress-bar svg text {
  font-size: 14px;
  fill: #1C1D1F;
  transform: rotate(90deg);
}
.sheet-content__progress-bar > div, .sheet-content__progress-bar label, .sheet-content__progress-bar progress {
  display: none;
}
.sheet-content__sheet-header {
  margin-bottom: 8px;
}
.sheet-content__sheet-content {
  margin-bottom: 4px;
}
.sheet-header {
  border: 1px solid transparent;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: #006CFE;
}
.sheet-header--arrow-up svg {
  transform: rotate(180deg);
}
.sheet-header--arrow-hidden svg {
  display: none;
}
.sheet-header > div {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sheet-header > div > div {
  margin-left: 2px;
  width: 7px;
}
.sheet-header > div:hover {
  color: #004199;
}
.sheet-header > div:hover > div svg path {
  transition: all 0.3s ease;
}
.sheet-header > div:hover > div svg path:nth-child(1) {
  fill: #004199;
}
.sheet-header > div:hover > div svg path:nth-child(2) {
  stroke: #004199;
  fill: #004199;
}

.stroke-green {
  stroke: #01AA88;
}
.stroke-orange {
  stroke: #FFA200;
}
.stroke-red {
  stroke: #FF0000;
}

.filter-wrapper {
  display: none;
}

@media only screen and (max-width: 1366px) {
  body {
    padding-bottom: 40px;
  }
  .container {
    padding: 0 40px;
  }
  .main-title {
    margin-top: 36px;
  }
}
@media only screen and (max-width: 365px) {
  body {
    padding-bottom: 12px;
  }
  .container {
    padding: 0 12px;
  }
  .main-title {
    margin-top: 20px;
    margin-bottom: 16px;
  }
  .sheet-header {
    display: none;
  }
  .sheet-row {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, minmax(33px, 50px));
  }
  .sheet-row > div:nth-child(odd) {
    padding: 8px 0 8px 12px;
  }
  .sheet-row > div:nth-child(even) {
    padding: 8px 12px 8px 2px;
  }
  .sheet-content {
    border-radius: 0;
    cursor: auto;
    line-height: 17px;
  }
  .sheet-content__progress-bar svg {
    display: none;
  }
  .sheet-content__progress-bar > div, .sheet-content__progress-bar label, .sheet-content__progress-bar progress {
    display: inline-block;
  }
  .sheet-content:hover {
    border: none;
  }
  .sheet-content:hover > div {
    border: none;
    border-bottom: 1px solid #D5E7FF;
    background: #fff;
  }
  .sheet-content:hover > div:first-child {
    border: none;
    border-bottom: 1px solid #D5E7FF;
  }
  .sheet-content:hover > div:nth-child(2) {
    border-left: none;
  }
  .sheet-content > div {
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 1px solid #D5E7FF;
  }
  .sheet-content > div:first-child {
    border-radius: 0;
  }
  .sheet-content > div:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .sheet-content > div:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .sheet-content__media-caption {
    display: block;
  }
  .sheet__sheet-content {
    margin-bottom: 8px;
  }
  .media-caption {
    font-size: 12px;
    font-weight: 700;
    color: #8D9FB7;
  }
  .progress-bar--orange::-webkit-progress-value {
    background: #FFA200;
  }
  .progress-bar--orange::-moz-progress-bar {
    background: #FFA200;
  }
  .progress-bar--red::-webkit-progress-value {
    background: #FF0000;
  }
  .progress-bar--red::-moz-progress-bar {
    background: #FF0000;
  }
  .progress-bar--green::-webkit-progress-value {
    background: #01AA88;
  }
  .progress-bar--green::-moz-progress-bar {
    background: #01AA88;
  }
  .progress-bar progress {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 2px;
    width: 80%;
    height: 4px;
    overflow: hidden;
    background: #D5E7FF;
    box-shadow: none;
    outline: none;
  }
  .progress-bar progress::-webkit-progress-bar {
    background: #D5E7FF;
  }
  .progress-bar label {
    margin-right: 11px;
  }
  .filter-wrapper {
    display: grid;
    grid-template-columns: 1fr 12px 44px 4px 44px;
    margin-bottom: 8px;
  }
  .sort-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: 1px solid #006CFE;
    border-radius: 2px;
    cursor: pointer;
  }
  .sort-btn svg {
    transform: rotate(180deg);
  }
  .sort-btn--active {
    background: #006CFE;
  }
  .sort-btn--active svg path {
    transition: all 0.3s ease;
  }
  .sort-btn--active svg path:nth-child(1) {
    fill: #fff;
  }
  .sort-btn--active svg path:nth-child(2) {
    stroke: #fff;
    fill: #fff;
  }
  .direction-down svg {
    transform: rotate(0deg);
  }
  .direction-up svg {
    transform: rotate(180deg);
  }
  .select {
    width: 100%;
    position: relative;
    z-index: 72;
  }
  .select.open .select__dropdown {
    display: block;
  }
  .select.open .select__input {
    border-bottom: none;
  }
  .select.open .select__backdrop {
    display: block;
  }
  .select__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    padding: 0 1rem;
    border: 1px solid #D5E7FF;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
  }
  .select__input-views {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
  }
  .select__input span:first-child {
    color: #8D9FB7;
  }
  .select__input span:last-child {
    color: #1C1D1F;
  }
  .select__input img {
    user-select: none;
  }
  .select__input.selected span:first-child {
    color: #8D9FB7;
  }
  .select__input.selected span:last-child {
    color: #1C1D1F;
  }
  .select__dropdown {
    display: none;
    position: absolute;
    border: 1px solid #D5E7FF;
    border-radius: 4px;
    top: 48px;
    left: 0;
    right: 0;
    overflow-y: auto;
  }
  .select__list {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #fff;
  }
  .select__backdrop {
    position: fixed;
    display: none;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
  }
  .select__item {
    padding: 9.5px 12px;
  }
  .select__item:not(:last-child) {
    border-bottom: 1px solid #D5E7FF;
  }
  .select__item.selected {
    background-color: #EDF5FF;
  }
  .select__item:hover {
    background-color: #EDF5FF;
    cursor: pointer;
    transition: 0.15s background-color ease-in;
  }
  .select .select-arrow-up {
    transform: rotate(180deg);
    transition: 0.1s ease-in;
  }
  .select .select-arrow-down {
    transform: rotate(0deg);
    transition: 0.1s ease-in;
  }
}
.placeholder {
  font-size: 11px;
  line-height: 13px;
}

@media only screen and (max-width: 346px) {
  .select__input span:first-child {
    font-size: 11px;
  }
  .select__input span:last-child {
    font-size: 11px;
  }
}

/*# sourceMappingURL=style.css.map */
