@import reset
@import font
@import variables
@mixin flex-ali-cent
  display: flex
  align-items: center
body
  padding-bottom: 60px
  font:
    family: "Proxima Nova", sans-serif
    size: 14px
    weight: normal
  color: $black
  background-color: $blue-super-light
.container
  max-width: 1800px
  margin: 0 auto
  padding: 0 60px
.header
  background-color: #fff
  &__content
    @include flex-ali-cent
    flex-direction: row
    justify-content: space-between
    height: 84px
    padding: 20px 0
    gap: 8px
.logo-wrapper
  @include flex-ali-cent
  &__logo-icon
   margin-right: 10px
.logo-icon
  width: 41px
  height: 33px
  & img
   width: 100%
   height: auto
.logo-text
  width: 79px
  font-weight: 800
  font-size: 16px
  line-height: 18px
  text-transform: uppercase
  color: $accent
  word-wrap: break-word
.user-wrapper
  @include flex-ali-cent
  &__user-text
    margin-right: 8px
.user-text
  display: flex
  flex-direction: column
  text-align: right
  line-height: 17px
.user-name
  font-weight: 700
  color: $accent
.user-role
  color: $medium
.user-photo
  width: 44px
  height: 44px
  & img
    width: 100%
    height: 100%
    object-fit: cover
.main-title
  margin-top: 48px
  margin-bottom: 20px
  font-weight: 800
  font-size: 32px
  line-height: 39px
.search-wrapper
  position: relative
  margin-bottom: 24px
  &__glyphicon
    position: absolute
    left: 16px
    top: calc(50% - 15px/2)
.glyphicon
  width: 14px
  height: 15px
  pointer-events: none
.search-input
  -webkit-appearance: none
  display: block
  width: 100%
  height: 52px
  padding: 0 0 0 38px
  font-size: 16px
  line-height: 19
  color: $black
  border: 1px solid $blue-light
  border-radius: 4px
  outline: none
  transition: $transition
  &::placeholder
    font-size: 16px
    line-height: 19
    color: $medium
  &:hover
    border-color: $blue05
  &:focus
    border-color: $accent
  &::-webkit-search-cancel-button
    -webkit-appearance: none
    width: 17px
    height: 16px
    background: url("@/assets/img/close-btn.svg")
    margin-right: 10px
    cursor: pointer
.sheet
  overflow-x: scroll
  scrollbar-width: thin
  scrollbar-color: $blue-light transparent
  &::-webkit-scrollbar
    width: 6px
    background-color: transparent
  &::-webkit-scrollbar-track
    background: transparent
  &::-webkit-scrollbar-thumb
    background-color: $blue-light
    border-radius: 6px
    border: none
    &:hover
      cursor: pointer
      border-color: $blue05
  &__sheet
    &-header
      margin-bottom: 10px
    &-content
      margin-bottom: 4px
  &-row
    display: grid
    grid-template-columns: $sheet-row
    & > div
      padding: 0 20px
  &-content
    line-height: 64px
    border-radius: 4px
    transition: $transition
    cursor: pointer
    &__media-caption
      display: none
    &:hover
      border-color: $blue-light
      & > div
        background: transparent
        border-top: 1px solid $blue-light
        border-bottom: 1px solid $blue-light
        &:first-child
          border-left: 1px solid $blue-light
    & > div
      background: #fff
      border: 1px solid $blue-super-light
      border-right-color: $blue-light
      &:first-child
        border-top-left-radius: 4px
        border-bottom-left-radius: 4px
      &:last-child
        border-top-right-radius: 4px
        border-bottom-right-radius: 4px
        @include flex-ali-cent
        justify-content: center
        & svg
          height: 40px
          width: 40px
    &--score
      font-weight: 700
    &--green
      color: $green
    &--orange
      color: $orange
    &--red
      color: $red
    &__progress-bar
      & svg
        transform: rotate(-90deg)
        & circle:first-child
          stroke: $blue-light
        & text
          font-size: 14px
          fill: $black
          transform: rotate(90deg)
      & > div, label, progress
        display: none
    &__sheet-header
      margin-bottom: 8px
    &__sheet-content
      margin-bottom: 4px
  &-header
    border: 1px solid transparent
    font-size: 12px
    font-weight: 700
    line-height: 15px
    color: $accent
    &--arrow-up
      transform: rotate(180deg)
    &--arrow-hidden
      & svg
        display: none
    & > div
      @include flex-ali-cent
      cursor: pointer
      transition: $transition
      & > div
        margin-left: 2px
        width: 7px
      &:hover
        color: $accent-dark
        & > div
          & svg
            & path
              transition: $transition
              &:nth-child(1)
                fill: $accent-dark
              &:nth-child(2)
                stroke: $accent-dark
                fill: $accent-dark
.stroke
  &-green
    stroke: $green
  &-orange
    stroke: $orange
  &-red
    stroke: $red
.filter-wrapper
  display: none
@import media/1366
@import media/768
@import media/365